<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="jiraAttachments" type="JiraAttachmentsCore.ConfigurationHandler, JiraAttachmentsCore"/>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="JiraAttachments.log"/>
      <target name="console" xsi:type="Console"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
    </rules>
  </nlog>
  
  <jiraAttachments>
    <jiraConnection>
      <serverURL>https://address.jira.com</serverURL>
      <username>user</username>
      <password>pass</password>
      <projectKey>PROJ</projectKey>
    </jiraConnection>
    <fileLocations>
      <sourceFile>c:\\Files\\VillageHealth\\FileManagement.xml</sourceFile>
      <targetDir>c:\\FileManagement</targetDir>
    </fileLocations>
    <versionOneConnection>
      <uploadImmediately>true</uploadImmediately>
      <serverUrl>https://www99.v1host.com</serverUrl>
      <username>user</username>
      <password>pass</password>
      <customField>Custom_JiraID</customField>
    </versionOneConnection>
  </jiraAttachments>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
